
<p class="count">Total Pokemon: {{ pokemonCount() }}</p>

<div class="list">
  @for (pokemon of pokemonList(); track pokemon.id) {
    <app-pokemon-list-item
      [pokemon]="pokemon"
      (opened)="onPokemonOpened($event)"
      (removed)="onPokemonRemoved($event)"
    ></app-pokemon-list-item>
  } @empty {
    <p>No Pokémon to display.</p>
  }
</div>
<br>

<h2 class="listTitle">Dual Type Pokemon List</h2>
<p class="count">Dual Type Pokemon: {{ dualTypeCount() }}</p>
<br>

<div class="list">
  @for (pokemon of dualTypePokemonList(); track pokemon.id) {
    <app-pokemon-list-item
      [pokemon]="pokemon"
      (opened)="onPokemonOpened($event)"
      (removed)="onPokemonRemoved($event)"
    ></app-pokemon-list-item>
  } @empty {
    <p>No Pokémon to display.</p>
  }
</div>
