<div class="container">
  <h2>Pokémon List</h2>

  <!--for loop to iterate over the array with track expression -->
  @for (pokemon of pokemonList; track pokemon.id) {
    <div class="pokemon-card" [class]="'type-' + pokemon.type1">
      <h3>#{{ pokemon.id }} {{ pokemon.name }}</h3>
      <p>Type 1: {{ pokemon.type1 }}</p>
      <!--if to conditionally display the pokemons second type if it has one else type is none  -->
      @if (pokemon.type2) {
        <p>Type 2: {{ pokemon.type2 }}</p>
      } @else {
        <p>Type 2: None</p>
      }
      <p>Base Experience: {{ pokemon.baseExperience }}</p>
    </div>
  } @empty { <!-- empty incase the array is ever empty  -->
    <p>No Pokémon to display.</p>
  }
</div>
